# Problem 1 
Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [1]:
# 1.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset('titanic')
print(titanic.head(3))

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True

# Problem 2
Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [6]:
# 2.Problemin Çözümünü Buraya Yazınız

if 'titanic_df' in locals() and not titanic_df.empty:

    cinsiyet_sayilari = titanic_df['sex'].value_counts()

    print("\nTitanic veri setindeki kadın ve erkek yolcu sayıları:")
    print(cinsiyet_sayilari)


else:
    print("\nTitanic veri seti yüklenemediği için yolcu sayıları hesaplanamadı.")

Titanic veri seti yüklenemediği için yolcu sayıları hesaplanamadı.

# Problem 3
Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [7]:
# 3.Problemin Çözümünü Buraya Yazınız
import pandas as pd


try:
    if 'titanic_df' not in locals() or titanic_df.empty:
         titanic_df = sns.load_dataset('titanic')
         
except Exception as e:
    print(f"Titanic veri seti yüklenirken bir hata oluştu: {e}")


# Problem 3: Her bir sütuna ait unique değerlerin sayısını bulunuz.
if 'titanic_df' in locals() and not titanic_df.empty:
    print("\nHer bir sütundaki unique değer sayısı:")
    unique_counts = titanic_df.nunique()

    # Sonuçları yazdır
    print(unique_counts)
else:
    print("\nTitanic veri seti yüklenemediği için unique değer sayıları hesaplanamadı.")

Her bir sütundaki unique değer sayısı:
survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

# Problem 4
pclass değişkeninin unique değerlerinin sayısını bulunuz.

In [ ]:
# 4.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
import pandas as pd

try:
    if 'titanic_df' not in locals() or titanic_df.empty:
         titanic_df = sns.load_dataset('titanic')
         # print("Titanic veri seti tekrar yüklendi.") # İsteğe bağlı bilgilendirme
except Exception as e:
    print(f"Titanic veri seti yüklenirken bir hata oluştu: {e}")


if 'titanic_df' in locals() and not titanic_df.empty:
    pclass_unique_count = titanic_df['pclass'].nunique()

    print(f"\n'pclass' sütunundaki unique değer sayısı: {pclass_unique_count}")

else:
    print("\nTitanic veri seti yüklenemediği için 'pclass' unique değer sayısı hesaplanamadı.")

'pclass' sütunundaki unique değer sayısı: 3

# Problem 5
pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz

In [10]:
# 5.Problemin Çözümünü Buraya Yazınız

try:
    if 'titanic_df' not in locals() or (isinstance(titanic_df, pd.DataFrame) and titanic_df.empty):
         titanic_df = sns.load_dataset('titanic')
except Exception as e:
    print(f"Titanic veri seti yüklenirken bir hata oluştu: {e}")


if 'titanic_df' in locals() and (isinstance(titanic_df, pd.DataFrame) and not titanic_df.empty):
    pclass_unique_count = titanic_df['pclass'].nunique()

    parch_unique_count = titanic_df['parch'].nunique()

    print(f"\n'pclass' sütunundaki unique değer sayısı: {pclass_unique_count}")
    print(f"'parch' sütunundaki unique değer sayısı: {parch_unique_count}")

   
else:
    print("\nTitanic veri seti yüklenemediği için 'pclass' ve 'parch' unique değer sayıları hesaplanamadı.")

'pclass' sütunundaki unique değer sayısı: 3
'parch' sütunundaki unique değer sayısı: 7

# Problem 6
embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.

In [ ]:
# 6.Problemin Çözümünü Buraya Yazınız

# Problem 7
embarked değeri C olanların tüm bilgilerini gösteriniz.

In [ ]:
# 7.Problemin Çözümünü Buraya Yazınız

# Problem 8
embarked değeri S olmayanların tüm bilgelerini gösteriniz.

In [ ]:
# 8.Problemin Çözümünü Buraya Yazınız

# Problem 9

Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.

In [ ]:
# 9.Problemin Çözümünü Buraya Yazınız

# Problem 10
Fare'i 500'den büyük veya yaşı 70’den büyük yolcuların bilgilerini gösteriniz

In [ ]:
# 10.Problemin Çözümünü Buraya Yazınız

# Problem 11
Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [ ]:
# 11.Problemin Çözümünü Buraya Yazınız